.get-started-container {
  background-color: #16151c;
  border: 1px solid var(--white-100-02, #ffffff05);
  border-radius: 16px;
  padding: 20px 25px;
  box-shadow: 0px 0px 48px 0px #0d0c10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.prompt-submit-btn {
  width: 100%;
  height: 30px;
  padding: 15px;
  border-radius: 10px;
  background: var(--lime-100, #c1ef0c);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 600;
  line-height: 15.73px;
  color: var(--black-100, #0f0d14);
  outline: none;
  cursor: pointer;
  border: 0;
}

.text-container h1 {
  font-size: 17px;
  font-weight: 600;
  color: var(--white-100, #ffffff);
  text-align: center;
}

.text-container h2 {
  font-size: 14px;
  font-weight: 600;
  color: var(--white-100, #ffffff);
  line-height: 110%;
  margin: 0;
}

.text-container p {
  font-size: 13px;
  font-weight: 400;
  color: #7a7a7d;
  text-align: center;
  margin: 0;
}

.tutorial-section-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 20px;
}

.project-section-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
}

.tutorial-card-container,
.project-card-container {
  border-radius: 16px;
  background-color: #222126;
}

.tutorial-card-detail {
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.tutorial-image-container {
  position: relative;
}

.time-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f0d14e5;
  border-radius: 8px;
  width: fit-content;
  padding: 4px 6px;
  position: absolute;
  bottom: 12px;
  right: 14px;
}

.time-badge p {
  font-size: 12px;
  line-height: 13.6px;
  font-weight: 600;
  color: #fff;
  margin: 0;
}

.title-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-showcase-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.project-showcase-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  border: 1px solid var(--white-100-06, #ffffff0f);
  padding: 16px;
  border-radius: 16px;
  margin: 10px 16px 0 0;
}

@media screen and (min-width: 1200px) {
  .tutorial-section-container {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .project-section-container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

/* For medium screens */
@media screen and (max-width: 1199px) {
  .tutorial-section-container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .project-section-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

/* For smaller screens */
@media screen and (max-width: 991px) {
  .tutorial-section-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .project-section-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* For even smaller screens */
@media screen and (max-width: 767px) {
  .tutorial-section-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .project-section-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

/* For even smaller screens */
@media screen and (max-width: 512px) {
  .tutorial-section-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .project-section-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
